/*Global*/
body {
  background-color: #726262;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 100px;
  letter-spacing: 1px;
  color: burlywood;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2rem;
}
